
@{
    ViewBag.Title = "MyFavorite";
    int test = 0;
    if (Session["Customer"] != null)
    {
        test = Convert.ToInt32(Session["Customer"]);
        Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    }
    else
    {
        test = 0;
        Layout = "~/Views/Shared/_Layout.cshtml";
    };
}

@*  使用者已登入 模板更改
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->

    <div class="container-fluid nav-bar bg-transparent">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
            <a href="index.html" class="navbar-brand d-flex align-items-center text-center">
                <div class="icon p-2 me-2">
                    <img class="img-fluid" src="imgs/logo.png" alt="Icon" style="width: 100px; height: 100px;">
                </div>
                <h1 class="m-0 text-primary">餐車噗噗</h1>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">關於我們</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="motivation.html#motivation" class="dropdown-item">發展動機</a>
                            <a href="motivation.html#culture" class="dropdown-item">餐車文化</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">熱搜排行</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="#" class="dropdown-item">地區</a>
                            <a href="#" class="dropdown-item">食物分類</a>
                            <a href="#" class="dropdown-item">營業時間</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i></a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="./editMember.html" class="dropdown-item">個人資料管理</a>
                            <a href="./myFavorite.html" class="dropdown-item">我的最愛</a>

                        </div>
                    </div>
                </div>
            </div>

        </nav>
    </div>*@
<script>
    function reloadLove() {
        var apiurl = "http://localhost:44368/api/truck";
        /*alert("重新載入");*/
        document.getElementById('lovebox').innerHTML = "";
        fetch(apiurl, {
            headers: {
                'Accept': 'application/json; charset=utf-8',
                'Content-Type': 'application/json; charset=utf-8'
            },
            method: 'POST',
            body: JSON.stringify(
                {
                    cid: @(Session["Customer"]),
                    //fname: $("#fname").val(),
                    //fclass: $("#fclass").val(),
                    //fcity: $("#fcity").val(),
                    //fdate: $("#date").val(),
                    //ftime: $("#ftime").val(),
                }
            )
        }).then((response) => {
            return response.json()
        }).then((data) => {
           /* console.log(data)*/
            for (var i = 0; i < data.length; i++) {
                document.getElementById('lovebox').innerHTML +=
                    `<div class="card mb-3" style="max-width: 75%;margin: auto;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a href="/Store/ShowStore?id=${data[i].StoreID}"><img src="${data[i].Picture}" class="rounded-start myfavimg"></a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                               <div class="rounded position-absolute top-0 m-4 py-1 px-3" id="" style="left: 90%">
                                    <i class="fa fa-heart fa-2x heart" style="color:#f26835" onclick="deleteLove(${data[i].StoreID})"></i>
                                </div>
                                <h5 class="card-title"><a class="d-block h5 mb-2" href="/Store/ShowStore?id=${data[i].StoreID}">${data[i].Store_Name}</a></h5>
                                <p class="card-text"><span class="score">${data[i].StarRating}<i class="fas fa-star fa-1x score"></i></span></p>
                                <p class="card-text">今日營業時間：${data[i].Punch_Time}</p>
                                <p class="card-text">今日營業地點：${data[i].Address_Detail}</p>
                            </div>
                        </div>
                    </div>
                </div>`
            }
        })
    }


    function deleteLove(storeid) {
        var apiurl = "http://localhost:44368/api/DeleteLove";
        //alert(storeid);  // 檢查帶過來的ID
        var yes = confirm('確定要刪除嗎？');
        if (yes) {
            fetch(apiurl, {
                headers: {
                    'Accept': 'application/json; charset=utf-8',
                    'Content-Type': 'application/json; charset=utf-8'
                },
                method: 'POST',
                body: JSON.stringify(
                    {
                        cid: @(Session["Customer"]),
                        sid: storeid,
                        //fname: $("#fname").val(),
                        //fclass: $("#fclass").val(),
                        //fcity: $("#fcity").val(),
                        //fdate: $("#date").val(),
                        //ftime: $("#ftime").val(),
                    }
                )
            }).then(function (response) {
                return response.json();
            }).then((data) => {
                /*console.log(data)*/ // 1 成功 0 失敗
                if (data == 1) {
                    Swal.fire({
                        icon: 'success',
                        title: '刪除成功!',
                        text: '已將此筆餐車從我的最愛移除~'
                    })
                    reloadLove();
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: '刪除失敗!',
                        text: '劉嘉說這筆不知道放什麼'
                    })
                }
            })

        }
        else {
            Swal.fire({
                icon: 'info',
                title: '謝謝支持!',
                text: '我就知道你心裡還有我的位置'
            })
        }

    }
    window.onload = function () {
        var apiurl = "http://localhost:44368/api/truck";
        //alert('onload');

        fetch(apiurl, {
            headers: {
                'Accept': 'application/json; charset=utf-8',
                'Content-Type': 'application/json; charset=utf-8'
            },
            method: 'POST',
            body: JSON.stringify(
                {
                    cid: @(Session["Customer"]),
                    //fname: $("#fname").val(),
                    //fclass: $("#fclass").val(),
                    //fcity: $("#fcity").val(),
                    //fdate: $("#date").val(),
                    //ftime: $("#ftime").val(),
                }
            )
        }).then((response) => {
            return response.json()
        }).then((data) => {
/*            console.log(data[0])*/
            for (var i = 0; i < data.length; i++) {
/*                console.log(data[i].StoreID);*/
                document.getElementById('lovebox').innerHTML +=
                    `<div class="card mb-3" style="max-width: 75%;margin: auto;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a href="/Store/ShowStore?id=${data[i].StoreID}"><img src="${data[i].Picture}" class="rounded-start myfavimg"></a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                               <div class="rounded position-absolute top-0 m-4 py-1 px-3" id="" style="left: 90%">
                                    <i class="fa fa-heart fa-2x heart" style="color:#f26835" onclick="deleteLove(${data[i].StoreID})"></i>
                                </div>
                                <h5 class="card-title"><a class="d-block h5 mb-2" href="/Store/ShowStore?id=${data[i].StoreID}">${data[i].Store_Name}</a></h5>
                                <p class="card-text"><span class="score">${data[i].StarRating}<i class="fas fa-star fa-1x score"></i></span></p>
                                <p class="card-text">今日營業時間：${data[i].Punch_Time}</p>
                                <p class="card-text">今日營業地點：${data[i].Address_Detail}</p>
                            </div>
                        </div>
                    </div>
                </div>`
            }

        })
    }
</script>

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-12">
                <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-3">我的最愛</h1>
                </div>
                <div id="lovebox">

                </div>
            </div>
        </div>
    </div>
</div>