@{
    ViewBag.Title = "addNewProuduct";
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}



@*@using (Html.BeginForm("addNewProduct", "Product", FormMethod.Post, new { enctype =*@ @*"multipart/form-data" }))
{
    <div class="uploads">
        <input type="text" id="Product_name" name="Product_name" />
    </div>
    <div class="uploads">
        <input type="text" id="Product_price" name="Product_price" />
    </div>
    <div class="uploads">
        <input type="file" id="upload_file" name="file" />
    </div>
    <button type="submit" id="upload_button" class="btn btn-primary">上傳</button>
}*@
@*<div class="remote_file_path">
    <label class="remote_file_path_label">Remote File Path:</label>
    <span class="form-control" id="remote_file_path">@ViewBag.path</span>

</div>*@
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-12">
                <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-3">新增菜單品項</h1>
                </div>
                <div>
                    @using (Html.BeginForm("addNewProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="uploads">
                            <label for="" class="form-label">產品名稱：</label>
                            <input type="text" class="form-control" placeholder="請輸入產品名稱" id="Product_name" name="Product_name" />
                        </div>
                        <div class="uploads">
                            <label for="" class="form-label">產品價格：</label>
                            <input type="text" class="form-control" placeholder="請輸入產品價格" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" id="Product_price" name="Product_price" />
                        </div>
                        <p></p>
                        <div class="uploads">
                            <input type="file" id="upload_file" name="file" accept="image/gif, image/jpeg, image/png" />
                        </div>
                        <p></p>
                        <p>
                            <img src="" id="menuPhoto">
                        </p>
                        <button type="submit" id="upload_button" class="btn btn-primary btn-lg">上傳</button>

                        @Html.ActionLink("返回", "Product_Store", "Product", null, new { @class = "btn btn-primary btn-lg", style = "margin-left:5px;" })
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/projectJS/addProduct.js"></script>

    <script>
        $("form").on("submit", function (event) {
            if ($('#Product_name').val() != "" && $('#Product_price').val() != "") {
                return true;
            } else {
                alert("欄位不可空白!");
                return false;

            }
        });



        
    </script>

}