@{
    ViewBag.Title = "About";
    int test = 0;
    if (Session["Store"] != null)
    {
        Layout = "~/Views/Shared/_LayoutStore.cshtml";
    }
    else if (Session["Customer"] != null)
    {
        test = Convert.ToInt32(Session["Customer"]);
        Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    }
    else
    {
        test = 0;
        Layout = "~/Views/Shared/_Layout.cshtml";
    };
}

<!-- Header Start -->
<div class="container-fluid header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-6 p-5 mt-lg-5">
            <h1 class="display-5 animated fadeIn mb-3">你... <br>還在追<span class="text-primary">幽靈攤販</span>嗎?</h1>
            <p class="animated fadeIn mb-4 pb-2">精選北中南地區優質攤販<br>即時更新攤販營業動向<br>讓您不再對攤販美食患得患失</p>
        </div>
        <div class="col-md-6 animated fadeIn">
            <div class="owl-carousel header-carousel">
                <div class="owl-carousel-item">
                    <img class="img-fluid" src="~/Content/imgs/Roll3.jpg" alt="">
                </div>
                <div class="owl-carousel-item">
                    <img class="img-fluid" src="~/Content/imgs/Roll4.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- About Start -->
<hr style="border:5px solid #F2B705; background-color: #F2B705;" />
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="~/Content/imgs/Roll5.jpg">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 id="motivation" class="mb-4">發展動機</h1>
                <p class="mb-4">近幾年台灣街頭開始流行起不定點營業的餐車或攤車，他們可能出沒在市集，也可能在某個熟悉的街角。</p>
                <p class="mb-4">因為營業時間及擺攤地點的變動因素極高，透過此平台能打開消費者及攤商之間傳遞資訊的橋樑，也讓更多新創店家有個曝光推廣的管道！</p>
                <p><i class="fa fa-check text-primary me-3"></i>精選北中南地區優質攤販</p>
                <p><i class="fa fa-check text-primary me-3"></i>即時更新攤販營業動向</p>
                <p><i class="fa fa-check text-primary me-3"></i>讓您不再對攤販美食患得患失</p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- About truack food culture -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 id="culture" class="mb-4">餐車文化</h1>
                <p class="mb-4">在重視「吃」的台灣，早期坊間便不乏樣式陽春、神出鬼沒的無名餐車到處販售著中式早餐、臭豆腐等庶民美食；夜市則集中著許多流動攤販，推著輪子穿梭於大街小巷。這股屬於台灣的「台式餐車文化」近20 年來隨著海外多元、更千變萬化的餐車文化影響，一步步讓台灣的餐車文化迎來全新面貌，也成為許多創業者微型創業的首選。</p>
                <p class="mb-4">擺脫「吃人頭路」的工作，自己當老闆是許多人的夢想。根據104 人力銀行2021 年分析1.9 萬名求職會員、共計2 萬筆創業經歷調查，高達86% 屬於5 人以下的微型創業，第一次創業平均28 歲，其中最熱門的創業類別便是投入餐飲類。從統計數據來看，手搖飲、早餐、咖啡店、輕食、餐車等餐飲創業占23% 最多，比餐廳餐館17%、鞋類布類服飾品的批發／零售（店舖、網拍）12% 都來得多。顯而易見的是，門檻低、成本低的創業模式是年輕人傾向的創業氛圍，以行動餐車創業更佔有一定的份量。</p>
                <p class="mb-4">行動餐車究竟是甚麼？這得從仍是農業社會的台灣說起，早期由於交通不便，商店稀少，村民平時娛樂機會不多且消費能力低，所以就有人開始將餐點放在車上推著，往返穿梭村里販售各類商品，「移動式販賣」、「流動販賣」的概念就此產生。擅長書寫台灣庶民生活史的作家陳柔縉於《台灣幸福百事：你想不到的第一次》一書中指出，行動咖啡車最早出現於台中市，1931 年6 月中旬的報章上刊出一張標題嘆道：「真是走在時代的尖端」、「台中驕傲的移動咖啡廳」的相片，說明1930 年代台灣便出現了有車體的餐車，不再只是流動攤販。</p>
                <p class="mb-4">轉載：https://ctee.com.tw/bookstore/selection/576484.html／圖片來源：麥浩斯出版</p>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="~/Content/imgs/06-09603-023.jpg" width="600">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About truack food cultureEnd -->
@section css{
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
}